<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ post["title"] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% extends "base.html" %}

{% block content %}
<div class="post-container">
    <div class="post-card">
        <div class="post-main-info">
            <div class="post-header">
                <img 
                src="{{ url_for('static', filename='uploads/avatars/' + (post.author_avatar if post.author_avatar else 'default.png')) }}"
                alt="avatar"
                class="avatar"
                >
            </div>

            <div class="post-title-block">
                <span class="post-title"> 
                    {{ post.title }}
                </span>

                <span class="post-author">
                    {{ post.author_username }}
                </span>
            </div>

            {% if can_delete_post(user,post) %}
            <div class="post-options">
                <button type="button" class="post-options-btn" id="post-menu-trigger">⋮</button>

                <div class="post-dropdown-menu" id="post-dropdown-menu">
                    <!-- Условие для Автора или Админа (видят всё) -->
                    {% if can_edit_post(user, post)%}
                        <a href="{{ url_for('posts.edit_post', post_id=post.id) }}" class="dropdown-item">Изменить</a>
                    <!-- Условие для Модератора (только удалить) -->
                    {% endif %}
                        <a href="{{ url_for('posts.del_post', post_id=post.id) }}" class="dropdown-item delete-item" onclick="return confirm('Удалить этот пост?')">Удалить</a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="post-content">
            {{ post.content }}
        </div>
        {% if post.content|length >=300 %}
            <a href="{{ url_for('posts.show_post', post_id=post.id) }}" class="read-more">Read more...</a>
        {% endif %}
        <div class="post-date">
            {{ post.created_at }}
        </div>

        <div class="post_footer">
            <span class="likes">
                ❤️ {{ post.like_count if post.like_count else 0 }}
            </span>
            <a href="{{ url_for('posts.show_post', post_id=post.id) }}" class="comment-link">
                💬 {{ post.comment_count if post.comment_count else 0 }}
            </a>
        </div>

        <div class="comments">
            <div class="comments-header">
                <h3>{{ comments|length }} Комментариев</h3>
                <select name="sort" id="sort">
                    <option value="1" selected>Недавнее</option>
                    <option value="0">Популярное</option>
                </select>
            </div>

            {% if session %}
                <div class="comment-form">
                    <form method="POST" action="{{ url_for('comments.create_comment', post_id=post.id) }}">
                        <div class="comment-form-main">
                            <img
                            src="{{ url_for('static', filename='uploads/avatars/' + (session.avatar if session.avatar else 'default.png')) }}"
                            alt="avatar"
                            class="comment-form-avatar"
                            >
                            <input class="comment-form-input" type="text"  id="comment-input" name="content" placeholder="Оставить комментарий">
                        </div>
                        <div class="comment-form-footer">
                            <button type="button" class="btn-comment-form" id="comment-cancel">Отмена</button>
                            <button type="submit" class="btn-comment-form" id="comment-submit">Оставить комментарий</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            {% if comments %}
                
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/view.js') }}"></script>
{% endblock %}
</body>
</html>