<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="navbar">
    <div class="navbar-left">
        <a href="{{ url_for('posts.index') }}" class="nav-home-btn">
            <img src="{{ url_for('static', filename='icons/feed.png') }}" class="nav-home-btn">
        </a>
        {% if session.user_id %}
            <img
                src="{{ url_for('static', filename='uploads/avatars/' + (session.avatar if session.avatar else 'default.png')) }}"
                alt="avatar"
                class="navbar-avatar"
            >
            <a  href="{{ url_for('profile.profile', profile_user_id=session.user_id) }}" class="navbar-username">{{ session.username }}</a>
        {% else %}
            <img
                src="{{ url_for('static', filename='uploads/avatars/default.png') }}"
                alt="avatar"
                class="navbar-avatar"
            >
            <span class="navbar-username">Guest</span>
        {% endif %}
    </div>

    <div class="navbar-right a">
        {% if session %}
            <a href="{{ url_for('auth.logout')}}">logout</a>
        {% else %}
            <a href="{{ url_for('auth.login')}}">login</a>
        {% endif %}
    </div>

</div>

<main>
    {% block content %}{% endblock %}
</main>

{% if show_bottom_bar and session.user_id %}
    <div class="bottom-bar">
        <a href="{{ url_for('posts.create_post') }}" class="btn-create">+</a>
    </div>
{% endif %}
{% block scripts %}{% endblock %}
</body>
</html>