<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Register</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" required maxlength="20">

        <label for="password">Password</label>
        <input type="password" name="password" required maxlength="20">

        <button type="submit" class="btn-login-regist">Register</button>
    </form>

    <p>Already have an account? 
        <a href="{{ url_for('auth.login') }}", class="hyperlink">
        Login
        </a>
    </p>

    <button type="submit" href="{{ url_for('posts.index') }}">To remain a guest</a>
    {% endblock %}
</div>

</body>
</html>